{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 ccol-md-6">
                <h1 class="display-4 logo-font text-black">
                    Step into the Spotlight: Schedule Your Style Consultation Now!</h1>
            </div>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg roiunded-0 text-uppercase py-3">Book Now</a>
                </h4>
            </div>
        </div>
    </div>
    
{% endblock %}